@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

    .work-spot-image {
        height: 148px;
    }

    .works-last-message {
        margin-top: 138px;
    }

    .works-last-message img {
        margin-top: -138px;
        width: 580px;
    }

}