@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (orientation : landscape) {

    header.contact .header-message {
        height: 145px;
    }

    header.contact .header-message h1 {
        font-size: 44px;;
    }

    header.contact .header-message p.second-message {
        font-size: 28px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    header.contact .header-message p.bottom-message {
        font-size: 22px;
    }

    .first-introduction-text {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .my-card img {
        width: 75px;
    }

    .home-features ul li {
        margin-left: 20px;
        margin-right: 20px;
    }

    .how-card {
        width: 500px;
        margin-top: 60px;
    }

    .what-i-do-features .introduction-text {
        font-size: 18px;
    }

    .what-i-do-features .image-body {
        width: 350px;
    }

    h5.what-i-do-introduction {
        font-size: 16px;
    }

    .main-what-i-do .good-design {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .main-what-i-do .good-design h5 {
        font-size: 20px;
    }

    .main-what-i-do .good-design p {
        font-size: 16px;
    }

    .main-what-i-do .good-design img {
        width: 250px;
    }

    .main-what-i-do .good-code {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .main-what-i-do .good-code h5 {
        font-size: 20px;
    }

    .main-what-i-do .good-code p {
        font-size: 16px;
    }

    .main-what-i-do .good-code img {
        width: 250px;
    }

    .main-what-i-do .good-security {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .main-what-i-do .good-security h5 {
        font-size: 20px;
    }

    .main-what-i-do .good-security p {
        font-size: 16px;
    }

    .main-what-i-do .good-security img {
        width: 250px;
    }

    h2.what-i-do-last-introduction {
        font-size: 18px;
        padding: 10px;
    }

    .what-i-do-last-message img {
        width: 100%;
    }

    .work-spot-image {
        height: 148px;
    }

    .works-last-message {
        margin-top: 131px;
    }

    .works-last-message img {
        margin-top: -131px;
        width: 530px;
    }

    #footer-carousel img.arrow {
        width: 30px;
    }

    .quote-phrase {
        font-size: 16px;
    }

    .quote-author {
        font-size: 14px;
    }
}