@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
    header.home {
        background-position-x: center;
    }

    header.what-i-do {
        background-position-x: center;
    }

    header.works {
        background-position-x: center;
    }

    header.contact {
        background-position-x: right;
    }

    .navbar-brand {
        display: block;
        margin: auto;
    }

    .main-nav {
        width: 100%;
        justify-content: center !important;
    }

    .main-nav .nav-link {
        width: 100%;
        padding: 0.5rem 10px;
    }

    .main-nav .nav-item {
        display: inline-flex;
    }

    header.contact .header-message {
        height: 130px;
    }

    header.contact .header-message h1 {
        font-size: 28px;;
    }

    header.contact .header-message p.second-message {
        font-size: 15px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    header.contact .header-message p.bottom-message {
        font-size: 14px;
    }

    header .header-message h1 {
        font-size: 24px;
    }

    header .header-message h2 {
        font-size: 16px;
    }

    header .header-message {
        height: 70px;
    }

    .first-introduction-text {
        font-size: 18px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .home-features ul li {
        margin-left: 5px;
        margin-right: 5px;
    }

    .my-card img {
        width: 55px;
    }

    .my-card .title {
        font-size: 12px;
    }

    .how-card {
        width: 300px;
        margin-top: 50px;
        font-size: 14px;
    }

    .how-card .body {
        font-size: 14px;
        padding-top: 50px;
    }

    .how-card .body .title {
        font-size: 18px;
    }

    .how-card img {
        width: 70px;
        top: -35px;
    }

    .what-i-do-features .introduction-text {
        font-size: 16px;
    }

    .what-i-do-features .image-body {
        width: 300px;
    }

    .what-i-do-features {
        padding-bottom: 30px;
    }

    h5.what-i-do-introduction {
        font-size: 14px;
    }

    .main-what-i-do .good-design {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .main-what-i-do .good-design .row {
        display: block;
    }

    .main-what-i-do .good-design h5 {
        font-size: 18px;
    }

    .main-what-i-do .good-design p {
        font-size: 14px;
    }

    .main-what-i-do .good-design img {
        width: 290px;
        margin: 0 auto;
        display: block;
    }

    .main-what-i-do .good-code {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .main-what-i-do .good-code .row {
        display: block;
    }

    .main-what-i-do .good-code h5 {
        font-size: 18px;
    }

    .main-what-i-do .good-code p {
        font-size: 14px;
    }

    .main-what-i-do .good-code img {
        width: 290px;
        margin: 0 auto;
        display: block;
    }

    .main-what-i-do .good-security {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .main-what-i-do .good-security .row {
        display: block;
    }

    .main-what-i-do .good-security h5 {
        font-size: 18px;
    }

    .main-what-i-do .good-security p {
        font-size: 14px;
    }

    .main-what-i-do .good-security img {
        width: 290px;
        margin: 0 auto;
        display: block;
    }

    h2.what-i-do-last-introduction {
        font-size: 18px;
        padding: 10px;
    }

    .what-i-do-last-message img {
        width: 100%;
    }

    .works-last-message {
        margin-top: 95px;
    }

    .works-last-message img {
        margin-top: -95px;
        width: 280px;
    }

    #footer-carousel img.arrow {
        width: 20px;
    }

    .quote-phrase {
        font-size: 14px;
    }

    .quote-author {
        font-size: 12px;
    }

    footer .footer-copyright {
        font-size: 10px;
    }

}