@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {

    header .header-message {
        height: 10px;
    }

    header .header-message h1 {
        font-size: 24px;
    }

    header .header-message h2 {
        font-size: 16px;
    }

    header .header-message {
        height: 60px;
    }

    header.contact .header-message {
        height: 80px;
    }

    header.contact .header-message h1 {
        font-size: 28px;;
    }

    header.contact .header-message p.second-message {
        font-size: 18px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    header.contact .header-message p.bottom-message {
        font-size: 14px;
    }

    .first-introduction-text {
        font-size: 18px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .home-features ul li {
        margin-left: 5px;
        margin-right: 5px;
    }

    .my-card img {
        width: 55px;
    }

    .what-i-do-features .introduction-text {
        font-size: 18px;
    }

    .what-i-do-features .image-body {
        width: 350px;
    }

    h5.what-i-do-introduction {
        font-size: 16px;
    }

    .main-what-i-do .good-design {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .main-what-i-do .good-design h5 {
        font-size: 18px;
    }

    .main-what-i-do .good-design p {
        font-size: 14px;
    }

    .main-what-i-do .good-design img {
        width: 210px;
    }

    .main-what-i-do .good-code {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .main-what-i-do .good-code h5 {
        font-size: 18px;
    }

    .main-what-i-do .good-code p {
        font-size: 14px;
    }

    .main-what-i-do .good-code img {
        width: 210px;
    }

    .main-what-i-do .good-security {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .main-what-i-do .good-security h5 {
        font-size: 18px;
    }

    .main-what-i-do .good-security p {
        font-size: 14px;
    }

    .main-what-i-do .good-security img {
        width: 210px;
    }

    h2.what-i-do-last-introduction {
        font-size: 18px;
        padding: 10px;
    }

    .what-i-do-last-message img {
        width: 100%;
    }

    .works-last-message {
        margin-top: 108px;
    }

    .works-last-message img {
        margin-top: -108px;
        width: 380px;
    }

}