@media only screen
and (min-device-width : 375px)
and (max-device-width : 736px)
and (orientation : portrait) {

    .main-nav .nav-link {
        width: 100%;
        padding: 0.5rem 18px;
    }

    header .header-message h1 {
        font-size: 26px;
    }

    header .header-message h2 {
        font-size: 18px;
    }

    header .header-message {
        height: 70px;
    }

    header.contact .header-message {
        height: 130px;
    }

    header.contact .header-message h1 {
        font-size: 35px;;
    }

    header.contact .header-message p.second-message {
        font-size: 18px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    header.contact .header-message p.bottom-message {
        font-size: 16px;
    }

    .how-card {
        width: 320px;
    }

    .main-what-i-do .good-design img {
        width: 340px;
    }

    .main-what-i-do .good-code img {
        width: 340px;
    }

    .main-what-i-do .good-security img {
        width: 340px;
    }

    .works-last-message {
        margin-top: 100px;
    }

    .works-last-message img {
        margin-top: -100px;
        width: 330px;
    }

}